# Scraping Wikipedia page and creating a Dataframe and Transforming the data on Wiki page into pandas dataframe.

## Part 1

### Install required libraries

In [1]:
pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.6/dist-packages (4.6.3)

In [2]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (4.2.6)

### Importing Libraries

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
print('Done')

Done

#### Scraping list of postal codes from given Wikipedia page using BeautifulSoup4

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
extracting_data = requests.get(url).text
wiki_data = BeautifulSoup(extracting_data, 'lxml')

#### Converting content of PostalCode HTML table to dataframe

In [5]:
column_names = ['Postalcode','Borough','Neighborhood']
toronto = pd.DataFrame(columns = column_names)

content = wiki_data.find('div', class_='mw-parser-output')
table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    toronto = toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

In [7]:
# clean dataframe 
toronto = toronto[toronto.Borough!='Not assigned']
toronto = toronto[toronto.Borough!= 0]
toronto.reset_index(drop = True, inplace = True)
i = 0
for i in range(0,toronto.shape[0]):
    if toronto.iloc[i][2] == 'Not assigned':
        toronto.iloc[i][2] = toronto.iloc[i][1]
        i = i+1

#### Data Cleaning | Drop rows which contain 'Not assigned' value

In [8]:
toronto_df = toronto.groupby(['Postalcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
toronto_df = toronto_df.replace('\n','',regex=True)
toronto_df = toronto_df[(toronto_df.Borough != 'Not assigned') & (toronto_df.Neighborhood != 'Not assigned')].reset_index().drop(columns='index')
toronto_df

    Postalcode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Malvern, Rouge
1          M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101        M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102        M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

In [9]:
toronto_df.describe()

       Postalcode     Borough Neighborhood
count         103         103          103
unique        103          10           99
top           M6R  North York    Downsview
freq            1          24            4

## Part 2

### Install required libraries

In [10]:
pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 5.8MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

### Importing Libraries

In [11]:
import pandas as pd
import numpy as np
import geocoder
print('Done')

Done

In [12]:
# Adding Columns Latitude & Longitude
df_co_ords = pd.DataFrame(columns=['Latitude', 'Longitude'])
toronto_df['Latitude'] = df_co_ords['Latitude']
toronto_df['Longitude'] = df_co_ords['Longitude']
toronto_df

    Postalcode      Borough  ... Latitude Longitude
0          M1B  Scarborough  ...      NaN       NaN
1          M1C  Scarborough  ...      NaN       NaN
2          M1E  Scarborough  ...      NaN       NaN
3          M1G  Scarborough  ...      NaN       NaN
4          M1H  Scarborough  ...      NaN       NaN
..         ...          ...  ...      ...       ...
98         M9N         York  ...      NaN       NaN
99         M9P    Etobicoke  ...      NaN       NaN
100        M9R    Etobicoke  ...      NaN       NaN
101        M9V    Etobicoke  ...      NaN       NaN
102        M9W    Etobicoke  ...      NaN       NaN

[103 rows x 5 columns]

In [18]:
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
      g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code), timeout=100)
      lati_long_coords = g.latlng
    return lati_long_coords
    
#et_latilong(toronto_df.Postalcode[102]) #example
toronto_df.Postalcode[0]

'M1B'

In [21]:
toronto_df.shape[0]

103

In [22]:
df_list_coord = []
for i in range(0, toronto_df.shape[0]):
    df_list_coord.append(get_latilong(toronto_df.Postalcode[i]))

In [28]:
df_list_coord

[[43.81153000000006, -79.19551999999999],
 [43.78564000000006, -79.15870999999999],
 [43.765750000000025, -79.17519999999996],
 [43.768200000000036, -79.21760999999998],
 [43.769690000000026, -79.23943999999995],
 [43.74309000000005, -79.23525999999998],
 [43.72861000000006, -79.26366999999993],
 [43.714060000000075, -79.28411999999997],
 [43.72360000000003, -79.23495999999994],
 [43.69539000000003, -79.26193999999998],
 [43.75998000000004, -79.26836999999995],
 [43.750710000000026, -79.30055999999996],
 [43.79394000000008, -79.26710999999995],
 [43.784730000000025, -79.29936999999995],
 [43.817810000000065, -79.28023999999994],
 [43.80052000000006, -79.32073999999994],
 [43.83422000000007, -79.21669999999995],
 [43.802850000000035, -79.35620999999998],
 [43.780970000000025, -79.34780999999998],
 [43.78102000000007, -79.38059999999996],
 [43.757220000000075, -79.37973999999997],
 [43.79135000000008, -79.41355999999996],
 [43.76714000000004, -79.40706999999998],
 [43.747870000000034, -79.40028999999998],
 [43.77991000000003, -79.44677999999999],
 [43.75188000000003, -79.33035999999998],
 [43.74929000000003, -79.36168999999995],
 [43.72184000000004, -79.34339999999997],
 [43.74809000000005, -79.44400999999993],
 [43.76467000000008, -79.48717999999997],
 [43.73903000000007, -79.46731999999997],
 [43.741070000000036, -79.51079999999996],
 [43.73355000000004, -79.49679999999995],
 [43.75666000000007, -79.51971999999995],
 [43.73042000000004, -79.31281999999999],
 [43.707940000000065, -79.31159999999994],
 [43.68970000000007, -79.30679999999995],
 [43.67703000000006, -79.29541999999998],
 [43.70909000000006, -79.36409999999995],
 [43.70127000000008, -79.34979999999996],
 [43.68811000000005, -79.33417999999995],
 [43.68375000000003, -79.35527999999994],
 [43.667970000000025, -79.31467999999995],
 [43.66091000000006, -79.33502999999996],
 [43.728980000000035, -79.39172999999994],
 [43.71276000000006, -79.38850999999994],
 [43.71452000000005, -79.40695999999997],
 [43.703400000000045, -79.38595999999995],
 [43.69066000000004, -79.38355999999999],
 [43.68569000000008, -79.40231999999997],
 [43.68190000000004, -79.37849999999997],
 [43.667880000000025, -79.36648999999994],
 [43.66659000000004, -79.38129999999995],
 [43.655140000000074, -79.36264999999997],
 [43.65736000000004, -79.37817999999999],
 [43.65143000000006, -79.37556999999998],
 [43.64531000000005, -79.37367999999998],
 [43.65609000000006, -79.38492999999994],
 [43.64970000000005, -79.38257999999996],
 [43.64285000000007, -79.38039999999995],
 [43.64710000000008, -79.38152999999994],
 [43.64823000000007, -79.37889999999999],
 [43.735460000000046, -79.41914999999995],
 [43.71194000000003, -79.41911999999996],
 [43.69479000000007, -79.41439999999994],
 [43.674840000000074, -79.40184999999997],
 [43.663110000000074, -79.40179999999998],
 [43.65351000000004, -79.39721999999995],
 [43.640820000000076, -79.39955999999995],
 [43.648690000000045, -79.38543999999996],
 [43.64828000000006, -79.38145999999995],
 [43.72321000000005, -79.45140999999995],
 [43.70799000000005, -79.44837999999999],
 [43.69211000000007, -79.43035999999995],
 [43.68784000000005, -79.45045999999996],
 [43.66878000000003, -79.42070999999999],
 [43.66509000000008, -79.43870999999996],
 [43.64873000000006, -79.41783999999996],
 [43.639410000000055, -79.42675999999994],
 [43.71381000000008, -79.48830999999996],
 [43.69468000000006, -79.48346999999995],
 [43.676180000000045, -79.48251999999997],
 [43.65994000000006, -79.46301999999997],
 [43.64785000000006, -79.45019999999994],
 [43.65034000000003, -79.47570999999994],
 [43.66449000000006, -79.39301999999998],
 [43.648690000000045, -79.38543999999996],
 [43.648690000000045, -79.38543999999996],
 [43.60987000000006, -79.49692999999996],
 [43.601080000000024, -79.53890999999999],
 [43.65369000000004, -79.51111999999995],
 [43.63288000000006, -79.48954999999995],
 [43.624630000000025, -79.52834999999999],
 [43.66277000000008, -79.52830999999998],
 [43.65279000000004, -79.55405999999994],
 [43.648900000000026, -79.57824999999997],
 [43.75948000000005, -79.55724999999995],
 [43.733670000000075, -79.53686999999996],
 [43.70357000000007, -79.51644999999996],
 [43.69623000000007, -79.52925999999997],
 [43.68674000000004, -79.55728999999997],
 [43.744530000000054, -79.58623999999998],
 [43.71174000000008, -79.57917999999995]]

In [ ]:
for i in range(0, toronto_df.shape[0]):
    toronto_df.Latitude[i] = df_list_coord[i][0]
    toronto_df.Longitude[i] = df_list_coord[i][1]

In [33]:
toronto_df.head()

  Postalcode      Borough  ... Latitude Longitude
0        M1B  Scarborough  ...  43.8115  -79.1955
1        M1C  Scarborough  ...  43.7856  -79.1587
2        M1E  Scarborough  ...  43.7658  -79.1752
3        M1G  Scarborough  ...  43.7682  -79.2176
4        M1H  Scarborough  ...  43.7697  -79.2394

[5 rows x 5 columns]

In [31]:
toronto_df.to_csv('toronto_2.csv',index=False)